<app-header></app-header>
<div class="flex flex-col space-y-5 justify-center items-center h-full">
  <!-- Card resetPassword$ -->
  <div
    class="shadow shadow-gray-500 w-[300px] h-min-[400px] rounded-md px-10 py-5"
  >
    <!-- logo -->
    <div class="flex justify-center p-1">
      <img
        class="w-12 h-12 md:w-14 md:h-14"
        src="../../../assets/img/logo.png"
        alt=""
      />
    </div>
    <!-- Title -->
    <h1 class="w-full p-1 text-center text-base font-semibold">
      Actualice su contraseña
    </h1>
    <!-- Formulario -->
    <form
      [formGroup]="resetPassForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-2 mt-3"
    >
      <div class="mb-2">
        <input
          type="password"
          ng
          formControlName="password"
          class="border text-sm rounded-lg  block w-full p-2.5 "
          placeholder="Contraseña"
        />
        <p
        [hidden]="
          resetPassForm.controls.password.pristine ||
          resetPassForm.controls.password.valid || resetPassForm.valid
        "
        class="mt-2 text-xs text-red-600 dark:text-red-500"
      >
        <span class="font-medium"></span>{{ passwordErrors }}
      </p>
      </div>
      <div>
        <input
          type="password"
          formControlName="confirmPassword"
          class=" border text-sm rounded-lg  block w-full p-2.5 "
          placeholder="Confirme Contraseña"
        />
        <p
          [hidden]="
            resetPassForm.controls.confirmPassword.pristine ||
            resetPassForm.controls.confirmPassword.valid 
          "
          class="mt-2 text-xs text-red-600 dark:text-red-500"
        >
          <span class="font-medium"></span>{{ passwordErrorsConfirm }}
        </p>
      </div>
      <button
        [disabled]="
          resetPassword$ && resetPassword$.state === DataState.LOADING
        "
        class="bg-[#095595] mt-4 flex justify-center disabled:bg-[#262729] disabled:cursor-not-allowed disabled:opacity-50 items-center text-xs md:text-sm p-1 w-full h-10 rounded-md text-white btn btn-blue cursor-pointer hover:bg-blue-500"
        type="submit"
      >
        Actualizar
      </button>
    </form>
    <p class="text-xs md:text-sm mt-5 text-center">
        Desea iniciar sesión?
        <span class="cursor-pointer text-xs md:text-sm font-semibold text-[#095595]"
         routerLink="/login" >Login</span
        >
      </p>
  </div>

  <ng-container *ngIf="resetPassword$" [ngSwitch]="resetPassword$.state">
    <app-danger
      *ngSwitchCase="DataState.ERROR"
      [title]="resetPassword$.error?.message"
    ></app-danger>
    <app-success
      *ngSwitchCase="DataState.LOADED"
      [title]="resetPassword$.data?.message"
    ></app-success>
  </ng-container>
</div>
<footer
  class="w-full p-2 flex items-center h-10 absolute bottom-0 bg-[#095595] justify-center"
>
  <span class="text-white text-xs"
    >Desarrollador por : COAC CREDIL 2023 &reg;</span
  >
</footer>
