<div class="flex flex-col space-y-5 justify-center items-center h-full">
  <header class="z-30 fixed w-full p-2 flex items-center h-10 top-0 left-0 bg-[#095595] justify-between">
    <h3 class="text-white text-xs md:text-sm">
      Carga de información RLA Y RLM Credil
    </h3>
   
  </header>
  <!-- Card Register$ -->
  <div
    class="shadow shadow-gray-500 w-[300px] h-min-[400px] rounded-md px-10 py-5"
  >
    <!-- logo -->
    <div class="flex justify-center p-1">
      <img
        class="w-12 h-12 md:w-14 md:h-14"
        src="../../../assets/img/logo.png"
        alt=""
      />
    </div>
    <!-- Title -->
    <h1 class="w-full p-1 text-center text-base font-semibold">
      Cree una cuenta
    </h1>
    <!-- Formulario -->
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-5 mt-3"
    >
      <div class="item__form">
        <!-- <label class="lbl__form"  for="">Username</label> -->
        <input
          class="input__form text-base"
          type="text"
          formControlName="username"
          placeholder="Usuario"
          required
        />
        <p
          *ngIf="registerForm.touched && registerForm.controls.username.errors"
          class="text-red-500 text-xs mt-1 italic"
        >
          {{ usernameErrors }}
        </p>
      </div>
      <div class="item__form">
        <!-- <label class="lbl__form" for="">Contraseña</label> -->
        <input
          class="input__form text-base"
          type="password"
          formControlName="password"
          placeholder="Contraseña"
          required
        />
        <p
          *ngIf="registerForm.touched && registerForm.controls.password.errors"
          class="text-red-500 text-xs mt-1 italic"
        >
          {{ passwordErrors }}
        </p>
      </div>
      <button
        [disabled]="register$ && register$.state === DataState.LOADING"
        class="bg-[#095595] flex justify-center disabled:bg-[#095595] disabled:cursor-not-allowed disabled:opacity-50 items-center text-xs md:text-sm p-1 w-full h-10 rounded-md text-white btn btn-blue cursor-pointer hover:bg-blue-500"
        type="submit"
      >
        Registrarse
      </button>
    </form>
    <p class="text-xs md:text-sm mt-5 text-center">Ya tienes una cuenta?</p>
    <span
      class="cursor-pointer inline-block w-full text-center text-xs md:text-sm font-semibold"
      routerLink="/login"
      >Inice sesión</span
    >
  </div>

  <ng-container *ngIf="register$" [ngSwitch]="register$.state">
    <app-danger
      *ngSwitchCase="DataState.ERROR"
      [title]="register$.error?.message "
    ></app-danger>
    <app-success
      *ngSwitchCase="DataState.LOADED"
      [title]="register$.data | json "
    ></app-success>
  </ng-container>
  <!-- <p>{{registerForm.status}}</p> -->
</div>
<footer class="w-full p-2 flex items-center h-10 absolute bottom-0 bg-[#095595] justify-center">
  <span class="text-white text-xs">Desarrollador por : COAC CREDIL 2023 &reg;</span>
</footer>