<div class="w-full h-full flex justify-center items-center">

    <div
      class="max-w-[500px] min-h-[200px] shadow shadow-slate-600 rounded-lg relative w-[350px] flex gap-5 items-center flex-col pb-5"
    >
      <div class="w-full p-2 border-b border-slate-400">
        <!-- Multiselect -->
        <ng-multiselect-dropdown
          placeholder="Seleccione"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          class="w-[250px] text-sm"
        >
        </ng-multiselect-dropdown>
        <p
          *ngIf="controlMultiselect.hasError && selectedItems.length === 0"
          class="text-yellow-700 mt-2 text-xs italic"
        >
          {{ controlMultiselect.getError("items") }}
        </p>
      </div>
    
      <!-- Date -->
      <form class="flex flex-col gap-4">
        <div>
          <input
            #date
            [formControl]="controlDate"
            class="rounded-md shadow shadow-slate-400 border-spacing-1 p-2"
            type="date"
          />
          <p *ngIf="controlDate.hasError" class="text-red-500 text-xs mt-1 italic">
            {{ controlDate.getError("fecha") }}
          </p>
        </div>
        <button
          [disabled]="resultApi && resultApi.state === DataState.LOADING"
          class="cursor-pointer flex justify-center btn bg-[#095595] text-white p-2 rounded-md hover:bg-blue-500 disabled:bg-[#095595] disabled:cursor-not-allowed disabled:opacity-50"
          type="button"
          (click)="onSubmit()"
          value="Ejecutar"
        >
          <app-spinner
            *ngIf="resultApi && resultApi.state === DataState.LOADING"
          ></app-spinner>
          Ejecutar
        </button>
      </form>
    </div>
    
    <ng-container
      *ngIf="resultApi"
      [ngSwitch]="resultApi.state"
      class="flex justify-center"
    >
      <ng-container *ngSwitchCase="DataState.LOADED">
        <app-success-box [listItems]="resultApi.data!"></app-success-box>
      </ng-container>
      <ng-container *ngSwitchCase="DataState.ERROR">
        <app-danger [title]="resultApi.error?.message"></app-danger>
      </ng-container>
    </ng-container>
    
    </div>
    